# Ole
Ole Andreas Egeland Rorvik <oarorvik@stud.ntnu.no> Ole Andreas Egeland Rørvik <oarorvik@stud.ntnu.no>
Ole Andreas Egeland Rorvik <oarorvik@stud.ntnu.no> oarorvik <oarorvik@stud.ntnu.no>
# Erik
Erik Menkin Lysfjord <erikmly@stud.ntnu.no> Erik Menkin Lysfjord <erikmly@stud.ntnu.no>
Erik Menkin Lysfjord <erikmly@stud.ntnu.no> Erik Menkin Lysfjord <erikmly@smint.no>
# Vebjorn
Vebjorn Falk Blom-Hagen <vebjorbl@stud.ntnu.no> Vebjørn Falk Blom-Hagen <vebjorbl@stud.ntnu.no>
Vebjorn Falk Blom-Hagen <vebjorbl@stud.ntnu.no> vebjørn blom-hagen <vebjorbl@stud.ntnu.no>
# Andreas
Andreas Ander Li <andrea10@stud.ntnu.no> Andreas Ander Li <andrea10@stud.ntnu.no>
Andreas Ander Li <andrea10@stud.ntnu.no> Andreas Li <andrea10@stud.ntnu.no>
